<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ZlatTV</title>
  </head>
  <body>
    <ul>
      <li><a href="./main.html">Главная</a></li>
      <li><a href="./teleprojects.html">Телепроекты</a></li>
      <li><a href="./404.html">404</a></li>
      <li><a href="./all-news.html">Все новости</a></li>
      <li><a href="./news-inner.html">внутренняя новости</a></li>
      <li><a href="./running-stroke.html">Бегущая строка</a></li>
      <li><a href="./contacts.html">Контакты</a></li>
      <li><a href="./faces.html">Лица</a></li>
      <li><a href="./tipovaya.html">Типовая</a></li>
      <li><a href="./guide.html">Программа телепередач</a></li>
      <li><a href="./advertising.html">Реклама</a></li>
    </ul>
  </body>
</html>